@inherits LayoutComponentBase
<div class="top-navbar">
    <div class="container">
        <NavMenu />
    </div>
</div>
<main>
    <article class="content px-1 px-md-4 pb-5">
        @Body
    </article>
</main>
